<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>  <!-- key为路径，value为true的启动  -->
   
    <add key="C:\Program Files (x86)\MyDrivers\DriverGenius2013\drivergenius.exe" value="true" />
    <add key="C:\Windows\notepad.exe" value="true" />
    <add key="E:\CRMtfs\YIGUO\CRM\YiGuoCrmSolution\YIGUO_CRM_Solution\YiGuoCrm.Service\bin\Debug\YiGuoCrm.Service.exe" value="true" />
  </appSettings>
</configuration>


